<?xml version="1.0"?>
<!-- ===========================================================================  -->
<!-- |    camera.urdf.xacro																											| -->
<!-- |    author: Koji Shibata                               										| -->
<!-- |    e-mail: kshibata.0519@gmail.com																				| -->
<!-- |    This is a URDF file that describes an omnidirectional 								| -->
<!-- |    four-wheeled robot for ROS users.																			| -->
<!-- ===========================================================================  -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="camera_macro" params="parent prefix xyz">
	<link name="${prefix}_link"/>

	<joint name="${prefix}_joint" type="fixed">
	  <parent link="${parent}"/>
	  <child  link="${prefix}_link"/>
	  <origin xyz="${xyz}" rpy="${-pi/2} 0. ${-pi/2}"/>
	</joint>

	<gazebo reference="${prefix}_link">
	  <sensor type="camera" name="${prefix}">
		<update_rate>30.</update_rate>
		<camera name="${prefix}">
		  <pose>0. 0. 0. 0. ${-pi/2} ${pi/2}</pose>
		  <horizontal_fov>1.3962634</horizontal_fov>
		  <image>
			<width>800</width>
			<height>600</height>
			<format>R8G8B8</format>
		  </image>
		  <clip>
			<near>0.02</near>
			<far>300</far>
		  </clip>
		  <noise>
			<type>gaussian</type>
			<mean>0.</mean>
			<stddev>0.007</stddev>
		  </noise>
		</camera>

		<plugin name="camera_controller" filename="libgazebo_ros_camera.so">
		  <alwaysOn>true</alwaysOn>
		  <updateRate>0.</updateRate>
		  <cameraName>/omnidirectional_four_wheeled_robot</cameraName>
		  <cameraName>${prefix}</cameraName>
		  <imageTopicName>image_raw</imageTopicName>
		  <cameraInfoTopicName>camera_info</cameraInfoTopicName>
		  <frameName>${prefix}_link</frameName>
		  <hackBaseline>0.</hackBaseline>
		  <distortionK1>0.</distortionK1>
		  <distortionK2>0.</distortionK2>
		  <distortionK3>0.</distortionK3>
		  <distortionT1>0.</distortionT1>
		  <distortionT2>0.</distortionT2>
		</plugin>

	  </sensor>
	</gazebo>
  </xacro:macro>
</robot>
