<?xml version="1.0"?>
<!-- ===========================================================================  -->
<!-- |    laser.urdf.xacro																											| -->
<!-- |    author: Koji Shibata                               										| -->
<!-- |    e-mail: kshibata.0519@gmail.com																				| -->
<!-- |    This is a URDF file that describes an omnidirectional 								| -->
<!-- |    four-wheeled robot for ROS users.																			| -->
<!-- ===========================================================================  -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="laser_macro" params="parent prefix xyz rpy">
		<link name="${prefix}_link">
			<collision>
				<origin xyz="0. 0. 0." rpy="0. 0. 0."/>
				<geometry>
					<mesh filename="package://gazebo_plugins/test/multi_robot_scenario/meshes/laser/hokuyo.dae"/>
				</geometry>
			</collision>
			<visual>
				<origin xyz="0. 0. 0." rpy="0. 0. 0."/>
				<geometry>
					<mesh filename="package://gazebo_plugins/test/multi_robot_scenario/meshes/laser/hokuyo.dae"/>
				</geometry>
			</visual>
			<inertial>
				<mass value="1.e-6"/>
				<origin xyz="0. 0. 0." rpy="0. 0. 0."/>
				<inertia ixx="1.e-6" ixy="0." ixz="0." iyy="1.e-6" iyz="0." izz="1.e-6" />
			</inertial>
		</link>

		<joint name="${prefix}_joint" type="fixed">
			<origin xyz="${xyz}" rpy="${rpy}"/>
			<parent link="${parent}"/>
			<child link="${prefix}_link"/>
		</joint>

		<!-- Hokuyo sensor for simulation -->
		<gazebo reference="${prefix}_link">
			<sensor type="ray" name="${prefix}_sensor">
				<pose>0. 0. 0. 0. 0. 0.</pose>
				<visualize>true</visualize>
				<update_rate>40.</update_rate>
				<ray>
					<scan>
						<horizontal>
							<samples>1080</samples>
							<resolution>0.25</resolution>
							<min_angle>${-3*pi/4}</min_angle>
							<max_angle>${3*pi/4}</max_angle>
						</horizontal>
					</scan>
					<range>
						<min>0.1</min>
						<max>30.</max>
						<resolution>1.e-3</resolution>
					</range>
					<noise>
						<!-- Noise parameters based on published spec for Hokuyo laser 			-->
						<!-- achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and 		-->
						<!-- stddev of 0.01m will put 99.7% of samples within 0.03m of the true 	-->
						<!-- reading. 																	-->
						<type>gaussian</type>
						<mean>0.</mean>
						<stddev>1.e-3</stddev>
					</noise>
				</ray>
				<plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
					<topicName>/omnidirectional_four_wheeled_robot/${prefix}_scan</topicName>
					<frameName>${prefix}_link</frameName>
				</plugin>
			</sensor>
		</gazebo>
	</xacro:macro>
</robot>
