<?xml version="1.0"?>
<!-- =================================================================================== -->
<!-- |    ommidirecctional_four-wheeled_robot.urdf.xacro							| -->
<!-- |    author: Koji Shibata                               							| -->
<!-- |    e-mail: kshibata.0519@gmail.com											| -->
<!-- |    This is a URDF file that describes an omnidirectional 					| -->
<!-- |    four-wheeled robot for ROS users.											| -->
<!-- =================================================================================== -->
<robot name="omnidirectional_four-wheeled_robot" xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:property name="pi" value="3.1415926535897931"/>
<xacro:property name="x_side" value="0.75"/>
<xacro:property name="y_side" value="0.75"/>
<xacro:property name="z_side" value="0.25"/>
<xacro:property name="body_mass" value="1."/>

<xacro:property name="cylinder_radius" value="0.2"/>
<xacro:property name="cylinder_length" value="0.1"/>
<xacro:property name="wheel_mass" value="0.5"/>

	<link name="base_link"/>
	<link name="body_link">
		<visual>
			<geometry>
				<box size="${x_side} ${y_side} ${z_side}"/>
			</geometry>
			<material name="White">
				<color rgba="1. 1. 1. 1."/>
			</material>
		</visual>

		<collision>
			<geometry>
				<box size="${x_side} ${y_side} ${z_side}"/>
			</geometry>
		</collision>

		<inertial>
			<origin xyz="0. 0. 0."/>
			<mass value="${body_mass}"/>
			<inertia ixx="${body_mass * (y_side**2 + z_side**2) / 12}" ixy="0." ixz="0." 
					  iyy="${body_mass * (x_side**2 + z_side**2) / 12}" iyz="0."
					  izz="${body_mass * (x_side**2 + y_side**2) / 12}"/>
		</inertial>
	</link>
	<joint name="base_joint" type="fixed">
		<origin xyz="0. 0. 0.3" rpy="0. 0. 0."/>
		<parent link="base_link"/>
		<child link="body_link"/>

		<calibration rising="0."/>
		<dynamics damping="0." friction="0."/>
	 </joint>
</robot>