<?xml version="1.0"?>
<launch>
	<arg name="model" default='$(find omnidirectional_four-wheeled_robot)/urdf/robot.urdf.xacro'/>
	<param name="robot_description" command="xacro $(arg model)"/>
	<node 
		name="joint_state_publisher_gui" 
		pkg="joint_state_publisher_gui" 
		type="joint_state_publisher_gui" 
	/>
	<node 
		name="robot_state_publisher" 
		pkg="robot_state_publisher" 
		type="robot_state_publisher" 
	/>
	<node 
		name="rviz" 
		pkg="rviz" 
		type="rviz" 
		args="-d $(find omnidirectional_four-wheeled_robot)/config/omnidirectional_four-wheeled_robot.rviz" 
		required="true"
	/>
</launch>