<?xml version="1.0"?>
<launch>
	<arg name="model" default='$(find omnidirectional_four-wheeled_robot)/urdf/robot.urdf.xacro'/>
	<arg name="gui" default="False"/>
	<arg name="rviz" default="True"/>

	<param name="robot_description" command="xacro $(arg model)"/>
	<param name="use_gui" value="$(arg gui)"/>

	<rosparam
		command="load"
		file="$(find omnidirectional_four-wheeled_robot)/config/omnidirectional_four-wheeled_robot.yaml"
	/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch"/>
	<node
		name="controller_kinematics"
		pkg="omnidirectional_four-wheeled_robot"
		type="controller_kinematics"
	/>
	<node
		name="joint_state_publisher"
		pkg="joint_state_publisher"
		type="joint_state_publisher"
	/>
	<node
		name="robot_state_publisher"
		pkg="robot_state_publisher"
		type="robot_state_publisher"
	/>
	<node
		if="$(arg rviz)"
		name="rviz"
		pkg="rviz"
		type="rviz"
		args="-d $(find omnidirectional_four-wheeled_robot)/config/omnidirectional_four-wheeled_robot.rviz"
		required="true"
	/>
	<node
		name="spawn_urdf"
		pkg="gazebo_ros"
		type="spawn_model"
		args="-param robot_description -urdf -model omnidirectional_four-wheeled_robot"
	/>
	<node
		name="controller_spawner"
		pkg="controller_manager"
		type="spawner"
		respawn="false"
		output="screen"
		ns="/omnidirectional_four_wheeled_robot"
		args="
			joint_state_controller
			FR_delta
			RR_delta
			FL_delta
			RL_delta
			FR_omega
			RR_omega
			FL_omega
			RL_omega"
	 />
</launch>
